div {
    text-align: center;
    /* display: flex; */
}
canvas {
	background-color: #f2eecb;
    border-radius: 5px;
    margin: 0;
    padding: 0; 
    position: absolute; 
    top: 0;
    left: 0;
}

#divmapmaker {
    display: flex;
}